.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #a6c0f5;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.item-container {
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 220px;
  background: rgb(30, 30, 30);
  background: linear-gradient(0deg, rgba(9, 9, 9, 1) 2%, rgba(0, 33, 40, 0) 40%, rgba(0, 212, 255, 0) 100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}